@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
     *{
        margin: 0;
        padding: 0;
        border: 0 ;

    }
       
      body {
          background-color: #252525;
      }
        header  {
            padding: 32px;
            border-bottom: 3px solid var(--subcor);
            background-color: rgba(0 ,0,0,0.1);
        }
        .links {
            text-align: center; /*Alinhamento no meio do header */
        }
        .links  a {
            color: white; /*a cor do texto*/
            font-size: 24px; /*tamanaho da fonte*/
            line-height: 30px; /*espaçamento da linha do texto*/
            margin: 0 16px;/*espaçamento entre os textos*/
            text-decoration: none;/*retirar decoração do texto*/
            font-family: "Bebas Neue", sans-serif;
            
       }
        .links a:hover{  /*seleção do modo quand o mous passar por cima "hover"*/
            color: #0944e6; /* mudar apra cor verde*/
            transition: 700ms; /*e fazer um transição de cor que dur 700ms*/
            font-size: 23px;
        
     }
#box {
  text-align: center;/*Alinhamento no meio do body*/
  padding: 32px; /* Distância entre outros elementos*/
}

#box img{
   border-radius: 50%; /*Adiciona uma borda redonda a imagem*/
   border: 5px solid #0954e6; /* Adiciona uma cor a borda da imagem*/
   margin-bottom: 32px; /* Distância da margem iferior de outros elementos*/
}

#box h1 {
  font-size: 42px;/*Tamanho da fonte*/
  line-height: 52px;/*Espaçamento da linha do texto*/
  font-weight: bold;/* tipo da fonte*/
}
#box h2 {
  font-size: 24px;/*tamanho da fonte*/
  line-height: 34px;/*Espaçamento da linha do texto*/
  font-weight: normal; /*tipo da fonte*/
  margin-top: 8px; /* distância da margem auperior dos outros elementos*/
  opacity: 0.8; /*transparência do elemento*/
}
#box p {
  max-width: 500px; /*tamanho maximo do elemento na largura*/
  margin: 32px  auto;/*Distãncia das margens dos outros elementos*/
  font-size: 32px;/*tamanho da fonte*/
  line-height: 34px;/*espaçament da linha do texto*/

}
:root{ /*iniciando a variável*/
  --subcor: #57a615; /*nomeando a variável de --subcor e guardando uma cor nela.*/
} /*fechando o bloco da variável root*/
#box h1 {
  padding: 4px;
}
#box h2 {
  padding: 10px;
}
#box p:hover {
  font-size: 23px;
}
#box  a {
  color: var(--subcor);
  transition: 600ms;
}
#linksFooter {
  padding-top: 32px;
}
#linksfooter a {
  padding-top: 32px;
  padding-bottom: 8px;
  border-bottom: 3px solid var(--subcor);
}